@mixin before_circle {
    position: relative;
    z-index: 2;    
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -25%;
        left: 0;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        background: $main-color;        
    }
}

@mixin center_header {
    padding-top: 126px;
    &__title {
        text-align: center;
        @include before_circle;
        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    .divider {
        margin-bottom: 60px;
    }
}