@media (max-width: 1439px) {
    .container {
        max-width: 1040px;
    }
    .sidepanel {
        left: 35px;
    }
    .portfolio {
        &__item {
            &-tall, &-long {
                grid-row-end: unset;
                grid-column-end: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        &__wrapper {
            width: 100%;
            gap: 40px;
            grid-template-columns: 360px 540px;
            justify-content: center;
        }
        &__skills {
            gap: 20px;
        }
    }
    .resume {
        &__wrapper {
            padding: 0 15px;
            column-gap: 66px;
        }    
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 800px;
            justify-content: center;
        }
        &__img {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        font-weight: bold;
        font-size: 30px;
        line-height: 45px;
        &_fz14 {
            font-size: 14px;
            line-height: 21px;
        }
        &_fz16 {
            font-size: 16px;
            line-height: 24px;
        }
        &_fz20 {
            font-size: 20px;
            line-height: 30px;
        }
        &_fz48 {
            font-size: 48px;
            line-height: 60px;
        }
    }
    .about {
        &__subtitle {
            margin-top: 10px;
        }
        .divider {
            margin-top: 15px;
        }
        &__wrapper {
            grid-template-columns: 340px 320px;
        }
        &__skills {
            gap: 20px 40px;
            grid-template-columns: 300px;
        }
        &__item {
            &-text {
                width: 240px;
            }
        }
    }
    .resume, .skills, .portfolio, .prices, .contacts {
        &__subtitle {
            margin-top: 10px;
        }
    }
    .resume {
        &__wrapper {
            column-gap: 36px;
            grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        } 
    }
    .skills {
        &__progress {
            grid-template-columns: repeat(2,minmax(300px,350px));
        }
    }
    .prices {
        &__wrapper {
            grid-template-columns: repeat(2,335px);
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 600px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 553px;
    }
    .title {        
        line-height: 36px;
        font-size: 24px;
        &_fz14 {
            font-size: 14px;
            line-height: 21px;
        }
        &_fz16 {
            font-size: 16px;
            line-height: 24px;
        }
        &_fz20 {
            font-size: 20px;
            line-height: 30px;
        }
        &_fz48 {
            line-height: 42px;
            font-size: 28px;
        }        
    }
    .promo {
        background: url('../img/Background.jpg') no-repeat 58%/cover;
        &__header {
            width: 300px;
        }
        &__btns {
            margin-top: 32px;
        }
    }
    .about {
        padding-top: 80px;
        &__wrapper {
            justify-content: center;
            grid-template-columns: 535px;
            gap: 40px;
        }
        &__img {
            margin: 0 auto;
            grid-row: unset;
            img {
                width: 90%;
             }            
        }
        &__skills {
            gap: 15px;
        }
        .divider {
            margin-top: 15px;
        }
        &__subtitle {
            margin-top: 15px;
        }
        &__skills {
            grid-template-columns: repeat(auto-fill, 260px);
        }
        &__item {
            &-text {
                width: 200px;
            }
        }
    }
    .resume, .skills, .portfolio, .prices, .contacts  {
        padding-top: 86px;
        &__subtitle {
            margin-top: 15px;
        }
        .divider {
            margin-top: 20px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, minmax(300px, 425px));
        }
        &__column {
            margin-top: 50px;
        }
        
        &__item {
            &:last-of-type {
                margin-top: -15px;
            }
        }
    }
    .skills {
        .divider {
            margin-bottom: 40px;
        }
        &__wrapper {
            padding: 0;
        }
        &__progress {
            padding-top: 86px;
            grid-template-columns: minmax(300px,350px);
        }
    }
    .portfolio {
        .divider {
            margin-bottom: 40px;
        }
        &__wrapper {
            gap: 20px;
        }
    }
    .prices {
        .divider {
            margin-bottom: 40px;
        }
        h3 {
            margin-bottom: 5px;
        }
        &__wrapper {
            grid-template-columns: 370px;
            justify-content: center;
            gap: 20px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 550px;
        }
        &__form {
            gap: 20px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            line-height: 39px;
            font-size: 26px;
        }
    }
    .promo {
        &__header {
            width: 290px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            gap: 20px;
            grid-template-columns: 1fr;
        }
        &__img { 
            img {
                width: 300px;
                height: 340px;
            }
        }
        &__subtitle {
            margin-top: 20px;
        }
        &__title {
            margin-top: 25px;
        }
    }
    .resume, .skills, .portfolio, .prices, .contacts  {
        padding-top: 46px;
        &__subtitle {
            margin-top: 21px;
        }
        .divider {
            margin-top: 15px;
        }
    }
    .resume {
        &__column {
            margin-top: 40px;
        }
        &__wrapper {
            padding: 0 12px 0 8px;
        }
        &__item {
            &:last-of-type {
                margin-top: -25px;
            }
        }
    }
    .skills {
        .divider {
            margin-bottom: 20px;
        }
        &__progress {
            padding-top: 48px;
        }
    }
    .prices {
        .divider {
            margin-bottom: 20px;
        }
        &__wrapper {
            grid-template-columns: minmax(302px, 370px);
        }
        &__item {
            grid-template-columns: 160px auto;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template-columns: 1fr;
            justify-content: center;
            grid-template-rows: 45px 45px 143px 100px;
            gap: 28px;
        }
        &__textarea {
            grid-column: unset;
        }
        &__submit {
            grid-column: unset;
            grid-template-columns: 219px;
            justify-content: center;
            gap: 20px;
            margin-top: -8px;
        }
        &__policy {
            order: 1;
            text-align: center;
        }
        &__btn {
            order: 2;            
        }
    }
}

@media (max-height: 600px) {
    .sidepanel {
        top: 160px;
    }
}

@media (max-height: 512px) {
    .sidepanel {
        top: 100px;
    }
}